h2 {
    display: inline;
}

th:hover, td:hover {
    color: teal;
    width: fit-content;
    height: fit-content;
    margin-left: auto; 
    margin-right: auto;
    transition: 0.2s;
}

.img{
    width: fit-content;
    height: fit-content;
    margin-left: auto;
    margin-right: auto;
    transition: 0.2s;
}

.img:hover{
    opacity: 90%;
    color: teal;
    transition: 0.2s;
}

table, th, td 
table.center {
    margin-left: auto; 
    margin-right: auto;
}


