h2 {
    display: inline;
}

h2:hover, th:hover, td:hover {
    background-color : coral;
    width: fit-content;
    height: fit-content;
    margin-left: auto; 
    margin-right: auto;
}

table, th, td 
table.center {
    margin-left: auto; 
    margin-right: auto;
}