body{
    margin: 0px;
    justify-content: center;
}



.title-bar .bar{
    display: flex;
    background-color: black;
    width: 100%;
    height: 75px;
    opacity: 70%;
    transition: 0.5s;
}
.title-bar .bar:hover{
    width: 100%;
    height: 150px;
    opacity: 85%;
    transition: 0.5s;
    transition-delay: 0.2s;
}


.title-bar .bar .bar-dwn span{
    display: block;
    position: relative;
    left: 40px;
    top: 17px;
    margin: 7px 25px 7px 0px;
    width: 100%;
    height: 2px;
    background: white;
}

.title-bar .title{
    display: flex;
    margin:20px;
    justify-content: center;
    font-size: 1.5em;
}


.title-bar .title h1{
    display: inline;
    margin: 0px;
    transition: 0.5s;
}
.title-bar .title h1:hover{
    color: teal;
    transition: 0.5s;
}


.槓槓 span{
    display: block;
    position: relative;
    margin: 0 auto;
    width: 80%;
    height: 2px;
    background: teal;
}



.tab{
    display: block;
    width: 1250px;
    margin: 0 auto; 
    padding: 0;
}

.tab .pagetitle{
    display: flex;
    justify-content: center;
}

.tab .pagetitle h2{
    display: inline;
    margin:30px auto;
    transition: 0.5s;
}
.tab .pagetitle h2:hover{
    color: teal;
    transition: 0.5s;
}


.tab .content{
    display: flex;
    height: 500px;
    margin: 0 auto;
    justify-content: space-around;
}

.tab .content .page{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin:20px;
    margin-right: 50px;
    flex: 1;
    transition: 0.5s;
}

.tab .content .page .img{
    width: auto;
    margin: 0 auto;
    align-self: flex-end;
}

.tab .content .page:hover{
    opacity: 90%;
    transition: 0.5s;
    color:teal;
}

.tab .content .page h2{
    font-size: 1.75em;
}