body{
    margin: 0px;
    justify-content: center;
}



.title-bar .bar{
    display: flex;
    background-color: black;
    width: 100%;
    height: 75px;
    opacity: 70%;
    transition: 0.5s;
}
.title-bar .bar:hover{
    width: 100%;
    height: 150px;
    opacity: 85%;
    transition: 0.5s;
    transition-delay: 0.2s;
}


.title-bar .bar .bar-dwn span{
    display: block;
    position: relative;
    left: 40px;
    top: 17px;
    margin: 7px 25px 7px 0px;
    width: 100%;
    height: 2px;
    background: white;
}

.title-bar .title{
    display: flex;
    margin:20px;
    justify-content: center;
    font-size: 1.5em;
}


.title-bar .title h1{
    display: inline;
    margin: 0px;
    transition: 0.5s;
}
.title-bar .title h1:hover{
    color: teal;
    transition: 0.5s;
}


.槓槓 span{
    display: block;
    position: relative;
    margin: 0 auto;
    width: 80%;
    height: 2px;
    background: teal;
}



.tab{
    display: block;
    width: 1250px;
    margin: 0 auto; 
    padding: 0;
}

.tab .pagetitle{
    display: flex;
    justify-content: center;
    margin: 10px auto;
    color: teal;
}

.tab .pagetitle .texttitle{
    display: inline;
    margin:30px auto;
    transition: 0.5s;
}
.tab .pagetitle .texttitle:hover{
    color: teal;
    transition: 0.5s;
}

.tab .list{
    display: block;
}


.tab .list .content{
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    justify-content: center;
}

.tab .list .content .page{
    display: flex;
    flex-direction: column;
    min-height: 520px;
    justify-content: space-between;
    transition: 0.5s;
    width: 300px;
    margin-bottom: 150px;
    margin-right: 8%;
}

.tab .list .content .page:hover{
    opacity: 80%;
    transition: 0.5s;
    color:teal;
}


.tab .list .content .page a .inpage{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    min-height: 520px;
    justify-content: space-between;
}


.tab .list .content .page a .inpage .text{
    width: 300px;
}

.tab .list .content .page a .inpage .text .textdate{
    margin-bottom: 25px;
}

.tab .list .content .page a .inpage .text .textdate .label{
    font-size: 15px;
    margin: 0 20px;
}




.tab .list .content .page a .inpage .img{
    align-self: flex-end;
    margin: 0 auto;
}


.tab .list .content .page a .inpage .texttitle{
    font-size: 1.75em;
    font-weight: bold;
    margin-bottom: 15px;
}



.tab .list .content .page:nth-child(3n){
    margin-right: 0;
}


a{
    color: inherit;
    text-decoration: none;
}

.tab .list .content .page .inpage .author{
    margin-bottom: 15px;
    font-size: 1.2em;
}